<%- include('../partials/header.ejs') %>	
	<div class="user-profile row">
		<div id="profile-recipe" class="col-md-8">1 of 2</div>
	  	<div class="profile-card" id="edit-container">
			<img src="https://i.pravatar.cc/150?u=<%=user._id%>">
			<form id="edit-card" method="POST" action="/users/<%= user._id %>?_method=PUT">
			  	<div class="form-group">
		    		<label for="imageurl">Profile picture:</label>
		    		<input type="text" id="imageurl" name="imageurl" value="https://i.pravatar.cc/150?u=<%=user._id%>">
			  	</div>

			  <div class="form-group">
			    <label for="firstName">First Name:</label>
			    <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>">
			  </div>
			  <div>
			    <label for="lastName">Last Name:</label>
			    <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>">
			  </div>  

			  <div class="form-group">
			    <label for="location">Location:</label>
			    <input type="text" id="location" name="location" value="<%= user.location %>">
			  </div>
			  <div>
			    <label for="email">Email:</label>
			    <input type="email" id="email" name="email" value="<%= user.email %>">
			  </div>

			  <div class="form-group">
			    <label for="aboutMe">About Me:</label>
			    <input type="text" id="aboutMe" name="aboutMe" value="<%= user.aboutMe %>">
			  </div>

			  <button class="btn btn-primary modal-button" type="submit">Save</button>

			</form>	
		</div>
	</div>

<%- include('../partials/footer.ejs') %>	