<%- include('../partials/header.ejs') %>
	<div class="user-profile row">
	  	<div id="profile-recipe" class="col-md-6">1 of 2</div>
	  	<div id="profile-card">
	  		<div id="profile-picture">
	  			<img src="https://i.pravatar.cc/150?u=">
	  		</div>
	  		<div id="user-info">
		  		<p>
					<strong>Username</strong>: <%= user.username %>
				</p>
				<p>
					<strong>Name</strong>: <%= user.firstName %> <%= user.lastName %>
				</p>
				<p>
					<strong>Location</strong>: <%= user.location %>
				</p>
				<p>
					<strong>Email</strong>: <i><%= user.email %></i>
				</p>
				<p>
					<strong>About Me</strong>:
					<div id="about-me">
					</div>
				</p>
				<% if (username) { -%>
					<a id="profile-link"href="/users/<%= user._id %>/edit">Edit </a>
					<a id="profile-link" href="" data-toggle="modal" data-target="#delete-modal">| Delete</a>
				<% } %>  			
	  		</div>
	  	</div>
	</div>

	<!-- Delete modal -->
	<div id="delete-modal" class="modal fade" role="dialog">
		<div class="modal-sm">
			<!-- Delete modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="text" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Delete Options</h4>
				</div>
				<div class="modal-body">
					<form method="POST" action="/users/<%= user._id %>?_method=delete">
						<p>
							We're sad to see you go. Please choose what to remove:
						</p>
						<div>
							<label for="deleteRecipes">Recipes: </label>
							<input id="deleteRecipes" type="checkbox" name="deleteRecipes">
						</div>
						<div>
							<label for="deleteComments">Comments: </label>
							<input id="deleteComments" type="checkbox" name="deleteComments">
						</div>
						<div>
							<label for="deleteProfile">Profile: </label>
							<input id="deleteProfile" type="checkbox" name="deleteProfile">
						</div>
						<button>Delete</button>
					</form>
				</div>
			</div>
		</div>
	</div>

<%- include('../partials/footer.ejs') %>