<%- include('../partials/header.ejs') %>

	<h2 id="index-title"><i><strong>Foody Recipes</strong></i></h2>
	<div class="container">
		<div class="row row-cols-3 ">	
			<% recipes.forEach((recipe)=> { %>
				<div class="col mb-3 d-flex align-items-stretch">
					<div class="card" style="width: 25rem;" onclick="window.location.href='/recipes/<%= recipe._id %>';">
						<img src="<%= recipe.imageUrl %>" class="card-img-top recipe-image">
						<div class="card-body">
							<div class="stars">
								<!-- calculate average rating. should be done in server but couldn't get it to work -->
								<% 	let sumRating = 0
									let averageRating = 0
									for (let i = 0; i < recipe.comments.length; i++) {
										sumRating += recipe.comments[i].rating
									}
									averageRating = Math.round(sumRating / recipe.comments.length) 
								%>
								<form action="">
									<% for (let s = 5; s > 0; s--) { -%>
										<% if (averageRating === s) { -%>
											<input class="star star-<% s %>" id="star-<% s %>" type="radio" disabled='disabled'name="star" checked/>
										<% } else { -%>
											<input class="star star-<% s %>" id="star-<% s %>" type="radio" disabled='disabled'name="star"/>	
										<% } -%>
										<label class="star star-<% s %>" for="star-<% s %>"></label>
									<% } -%>
								</form>
							</div>
							<h5 class="card-title"><%= recipe.name %></h5>
	    					<p class="card-text"><%= recipe.description %></p>
	    					<p class="card-text">created by: <a href="/users/<%= recipe.creator._id %>"><%= recipe.creator.username %></a></p>			
							<h6 class="card-subtitle mb-2 text-muted">Category: <%= recipe.category %></h6>
	  					</div>
	  				</div> <!-- card -->
  				</div> <!-- col -->
			<% }) %> <!-- loop -->
		</div> <!-- row row-cols-3 -->
	</div> <!-- container -->

<%- include('../partials/footer.ejs') %>
