<%- include('../partials/header.ejs') %>

	<h1>Recipe index page</h1>
	<div id="recipe-box-container">
		<% recipe.forEach((recipe)=> { %>
			<div class="recipe-box">
				<p>
					Name: <%= recipe.name %>
				</p>
				<p>
					Category: <%= recipe.category %>
				</p>
				<p>
					Creator: <%= recipe.creator %>
				</p>			
			</div>
		<% }) %>
	</div>

<%- include('../partials/footer.ejs') %>


<!-- 	name: String,
	description: String,
	category: String,
	ingredients: String,
	instructions: String,
	imageUrl: String,
	creator: { type: Schema.Types.ObjectId, ref: 'User' } ,
	comments: [ commentSchema.schema],
	dateCreated: Date -->