<%- include('../partials/header.ejs') %>

	<h1>Recipe show page</h1>
	<div id="recipe-container">
		<textarea disabled>
			<%= recipe.ingredients %>
		</textarea>
		<textarea disabled>
			<%= recipe.instructions %>
		</textarea>	

	<% if(loggedIn && userId == recipe.creator) { %>
		<a href="/recipes/<%= recipe._id %>/edit">Edit recipe</a> |
		<form method="POST" action="/recipes/<%= recipe._id %>?_method=DELETE">
			<button>Delete</button>
  		</form>
	<% } %>
	</div>

	<input type="hidden" name="recipeCreatorId" value="<%= recipe.creator %>">



<%- include('../partials/footer.ejs') %>
