<%- include('../partials/header.ejs') %>

	<h1>Recipe show page</h1>
	<div id="recipe-container">
	<!-- rating -->
		<div class="stars">
			<form action="">
				<% for (let i = 5; i > 0; i--) { -%>
					<% if (rating === i) { -%>
						<input class="star star-<% i %>" id="star-<% i %>" type="radio" disabled='disabled'name="star" checked/>
					<% } else { -%>
						<input class="star star-<% i %>" id="star-<% i %>" type="radio" disabled='disabled'name="star"/>	
					<% } -%>
					<label class="star star-<% i %>" for="star-<% i %>"></label>
				<% } -%>
			</form>
		</div>

	<!-- end rating -->
		<textarea disabled>
			<%= recipe.ingredients %>
		</textarea>
		<textarea disabled>
			<%= recipe.instructions %>
		</textarea>	

	<% if(loggedIn && userId == recipe.creator) { %>
		<a href="/recipes/<%= recipe._id %>/edit">Edit recipe</a> |
		<form method="POST" action="/recipes/<%= recipe._id %>?_method=DELETE">
			<button>Delete</button>
  		</form>
	<% } %>
	</div>

	<hr>

	  <h4>Discuss</h4>
	  <% if(loggedIn) { %>
		  <form method="POST" action="/comments/<%= recipe._id %>">
		  	<label for="rating">Rate this recipe:</label>

			<select name="rating" id="rating">
			    <option value="0">0</option>
			    <option value="1">1</option>
			    <option value="2">2</option>
			    <option value="3">3</option>
			    <option value="4">4</option>
			    <option value="5">5</option>
			</select>
		    <fieldset>
				<label for="commentText">Comment:</label>
		      	<textarea name="commentText" placeholder="enter comment here"></textarea>    
		    </fieldset>
		    <button>Add Comment</button>
		  </form>
	<%} else { %>
		<a href="" data-toggle="modal" data-target="#login-modal">Click here to log in and leave a comment.</a>

	<% } %>	

	  <ul style="margin-top: 20px">
	    <% for (let i = 0; i < recipe.comments.length; i++) { -%>
	    <% recipe.comments.reverse() %>
	      <li>
	        <p>
	          <small>
	            <a href="/users/<%= recipe.creator._id %>"><%= recipe.comments[i].author.username %> </a>
	            @ 
	            <%= recipe.comments[i].date.toLocaleString() %> 

				<div class="stars">
					<form action="">
						<% for (let s = 5; s > 0; s--) { -%>
							<% if (recipe.comments[i].rating === s) { -%>
								<input class="star star-<% s %>" id="star-<% s %>" type="radio" disabled='disabled'name="star" checked/>
							<% } else { -%>
								<input class="star star-<% s %>" id="star-<% s %>" type="radio" disabled='disabled'name="star"/>	
							<% } -%>
							<label class="star star-<% s %>" for="star-<% s %>"></label>
						<% } -%>
					</form>
				</div>

	          </small>
	          <br>
	          <%= recipe.comments[i].text %>        
	        </p>
			<% if (loggedIn && recipe.comments[i].author.id === userId) { -%>
	          <form method="POST" action="/comments/<%= recipe.id %>/<%= recipe.comments[i].id %>?_method=DELETE">
	            <button>Delete</button>
	          </form>
	        <% } -%>
	      </li>
	    <% } -%>
	  </ul>
	<hr>



<%- include('../partials/footer.ejs') %>
