<%- include('../partials/header.ejs') %>

	<h1>Recipe show page</h1>
	<div id="recipe-container">
		<textarea disabled>
			<%= recipe.ingredients %>
		</textarea>
		<textarea disabled>
			<%= recipe.instructions %>
		</textarea>	

	<% if(loggedIn && userId == recipe.creator) { %>
		<a href="/recipes/<%= recipe._id %>/edit">Edit recipe</a> |
		<a href="">Delete recipe</a>
	<% } %>
	</div>

	<hr>

	  <h4>Discuss</h4>
	  <form method="POST" action="/comments/<%= recipe._id %>">
	  	<!-- TODO Josh 1/27/20, 9:05 PM :if loggedin default user name to logged in user -->
	    <fieldset>
			<label for="name">Name:</label>
	      	<input type="text" name="name" placeholder=<%= username %>>
	    </fieldset>
	    <fieldset>
			<label for="commentText">Comment:</label>
	      	<textarea name="commentText" placeholder="enter comment here"></textarea>    
	    </fieldset>
	    <button>Add Comment</button>
	  </form>

	  <ul style="margin-top: 20px">
	    <% for (let i = 0; i < recipe.comments.length; i++) { -%>
	      <li>
	        <p>
	          <small>
	            <%= recipe.comments[i].name %> 
	            @ 
	            <%= recipe.comments[i].date.toLocaleString() %> 
	          </small>
	          <br>
	          <%= recipe.comments[i].text %>        
	        </p>
	      </li>
	    <% } -%>
	  </ul>
	<hr>



<%- include('../partials/footer.ejs') %>
